@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){ /*para tablets*/
    html{
        width: 100vw;
    }
    span.material-symbols-outlined{
        display: none;
    }
    nav{
        background-color: rgb(149, 149, 157);
        display: block;
    }
    nav li {
        display: inline-block;
    }
    main{
        max-width: 750px;
        margin: 15px auto;
    }
}

@media screen and (min-width: 993px) and (max-width: 1999px){/*laptops*/
    html{
        width: 100vw;
    }
    span.material-symbols-outlined{
        display: none;
    }
    nav{
        background-color: rgb(149, 149, 157);
        display: block;
    }
    nav li {
        display: inline-block;
    }
    main{
        max-width: 750px;
        margin: 15px auto;
    }
}

@media screen and (min-width: 1200px){/*aparelhos grandes*/
    html{
        width: 100vw;
    }
    span.material-symbols-outlined{
        display: none;
    }
    nav{
        background-color: rgb(149, 149, 157);
        display: block;
    }
    nav li{
        display: inline-block;
    }
    main{
        max-width: 750px;
        margin: 15px auto;
    }
}