@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){ /*para tablets*/
    nav{
        background-color: rgb(149, 149, 157);
    }
    main{
        max-width: 750px;
        margin: 15px auto;
    }
}

@media screen and (min-width: 993px) and (max-width: 1999px){/*laptops*/
    nav{
        background-color: rgb(149, 149, 157);
    }
    main{
        max-width: 750px;
        margin: 15px auto;
    }
}

@media screen and (min-width: 1200px){/*aparelhos grandes*/
    nav{
        background-color: rgb(149, 149, 157);
    }
    main{
        max-width: 750px;
        margin: 15px auto;
    }
}