@charset "UTF-8";

body{
    background-color: rgb(190, 236, 219);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(7, 101, 113);
}
h1#principal{ /*ou você pode colocar apenas #principal, sem o h1 antes*/
    text-align: center;
    background-color: rgb(79, 187, 167);
    color: rgb(222, 236, 236);
}
h2{
    color: rgb(0, 148, 148);
}
.basico{
    color: rgb(35, 97, 211);
    font-weight: bold;
}
.intermediario{
    color: rgb(8, 69, 145);
    font-weight: bold;
}
.avancado{
    color: rgb(9, 9, 117);
    font-weight: bold;
}
.destaque{
    background-color: rgba(41, 142, 204, 0.434);
}