@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --font1: 'Passion One', cursive;
    --font2: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    color: white;
    font: normal 40px var(--font1);
    text-align: center;
    padding: 80px;
}
header > nav{
    font-size: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
}
main >section{
    padding: 20px 40px;
    font: 25px var(--font2);
}
section.img{
    background: grey center center no-repeat fixed;
    background-size: cover;
    padding: 50px 40px;
    font: 25px var(--font2);
    color: white;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.461);
    
}
section.img > p{
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 5px;
    padding: 5px;
}
#img1{
    background-image: url("imagens/ladybug-3475779__480.webp");
}
#img2{
    background-image: url("imagens/antigos-cartoes-postais-de-cartas-escritas-a-mao-livro-aberto-e-ferramentas-vintage-fundo-de-papel-romantico-e-sentimental_.jpg");
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 5px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}