@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --font1: 'Passion One', cursive;
    --font2: 'Sriracha', cursive;
    --font3: Verdana, Geneva, Tahoma, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    font: normal 5vw var(--font1);
    text-align: center;
    padding: 80px;
}
header > h1 {
    font-variant: small-caps;/*Todas as letras são maiúsculas mas as primeiras letras são maiores*/
    /*text-transform: uppercase; - passa todas as letras para maiúsculas*/
}
header > nav{
    font: 0.6em var(--font3);
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font: 3.5vw var(--font2);
    line-height: 1.5em;
}
section >p{
    padding: 10px;
}
section.img{
    background: grey center center no-repeat fixed;
    background-size: cover;
    color: white;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.461);
    
}
section.img > p{
    display: inline-block; /*Transforma em uma caixa que se adapta ao tamanho do conteúdo*/
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
}
#img1{
    background-image: url("imagens/ladybug-3475779__480.webp");
    background-position: right center;
}
#img2{
    background-image: url("imagens/antigos-cartoes-postais-de-cartas-escritas-a-mao-livro-aberto-e-ferramentas-vintage-fundo-de-papel-romantico-e-sentimental_.jpg");
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font: 13px var(--font3);
    padding: 10px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}